:root{
    --current-width: 0;
}

.puzzle{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // width: 100%;
    // height: var(--current-width);
    // margin: 0 auto;
    width: 300px;
    height: 300px;
    flex-shrink: 0; // ngăn khoog cho thẻ con bị thu nhỏ
    // background-color: yellow;
    // width: min(100vw, 100vh);
    // height: min(100vw, 100vh);
    margin-right: 20px;
}