:root{
    --current-width: 0;
}

.puzzle{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // width: 100%;
    // height: var(--current-width);
    // margin: 0 auto;
    width: 300px;
    height: 300px;
    flex-shrink: 0; // ngăn khoog cho thẻ con bị thu nhỏ
    // background-color: yellow;
    // width: min(100vw, 100vh);
    // height: min(100vw, 100vh);
    background-color: #F3F2FF;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #7A6BFF21;
    box-shadow: 0 0 20px #7A6BFF21;
    margin-right: -1px;
}