.App {
  text-align: center;
  height: 100svh;
  display: flex;
  flex-direction: column;
}

.show{
  flex: 8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-x: auto;
  width: 1200px;
}

.foot{
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn{
  padding: 8px;
  font-size: 18px;
  font-weight: 600;
}